/* Global Styles */
html,
body {
  height: 100%;
}
body {
  background-color: #ecf0f1;
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #34495e;
}
ul {
  padding-left: 15px;
}
/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}
/* Footer Styles */
footer {
  margin: 50px 0;
}
.page-header {
  margin: 10px 0 20px 0;
}
.breadcrumb {
  background-color: #ffffff;
}
.error {
  margin: 5px;
  padding: 4px;
  width: 99%;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  border-radius: 3px;
}
.btn {
  font-size: 12px;
  padding: 4px 12px;
}
.navbar-fixed-top {
  background-color: #34495e;
  box-shadow: #040101 0px 3px 3px;
}
.navbar-fixed-top .navbar-brand {
  color: #ffffff;
  font-size: 20px;
}
.navbar-fixed-top .btn {
  position: relative;
  top: 13px;
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    height: 55px;
  }
  .navbar-fixed-top .btn {
    top: -40px;
  }
}
.modal-open .modal .modal-header {
  background-color: #5cb85c;
  color: #ffffff;
}
.modal-open .modal .modal-header .modal-title {
  -webkit-font-smoothing: antialiased;
}
.modal-open .modal .modal-header .modal-title .fa {
  padding-right: 15px;
}
.modal-open .modal .modal-header .icon {
  color: #ffffff;
  font-size: 20px;
  margin-right: 15px;
  position: relative;
  top: 1px;
}
.modal-open .modal .modal-header .close {
  color: #ffffff;
  opacity: 0.8;
}
.modal-open .modal .modal-body label {
  padding-top: 10px;
}
.modal-open .modal .modal-footer {
  border-top: none;
  padding: 15px 30px 15px 15px;
}
.modal-open .modal .modal-footer .btn {
  text-transform: uppercase;
}
.modal-open .modal .modal-footer input[type=submit] {
  background-color: #5cb85c;
  border-color: solid 1px #449d44;
  color: #ffffff;
}
.panel-default {
  border-top: solid 2px #95a5a6;
}
.panel-default .panel-heading .panel-title {
  font-family: 'Old Standard TT', serif;
}
.panel-default .panel-heading .label {
  font-size: 90%;
  position: relative;
  bottom: 18px;
}
.panel-default .panel-body label {
  margin-top: 10px;
}
.panel-default .panel-body .label {
  float: right;
  font-size: 60%;
}
.panel-default .panel-body .panel-options {
  text-align: right;
}
.panel-default .panel-body .categories {
  float: left;
  list-style-type: none;
}
.panel-default .panel-body .categories .label {
  font-size: 14px;
}
.panel-default .panel-body .categories .label a {
  color: #ffffff;
}
.panel-default .panel-footer {
  background-color: #ffffff;
  border: none;
  text-align: right;
}
.blog-posts .panel-heading {
  background-image: none;
  background-color: #ffffff;
}
.blog-posts .panel-heading .panel-title {
  font-size: 16px;
  text-align: center;
}
.blog-posts .panel-body .label {
  float: right;
  font-size: 65%;
  position: relative;
  bottom: 47px;
  left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding: 0.4em 0.8em 0.4em;
  border-bottom-right-radius: 0;
}
