.panel-default {
  border-top: solid 2px @color-gray;

  .panel-heading {
    .label {
      font-size: 90%;
      position: relative;
      bottom: 18px;
    }
  }

  .panel-body {
    label {
      margin-top: 10px;
    }
    .label {
      float: right;
      font-size: 60%;
    }
    .panel-options {
      text-align: right;
    }
  }

  .panel-footer {
    background-color: @color-white;
    border: none;
    text-align: right;
  }
}