

    <div class="container" ng-controller='editPostController'>
        <h4>Edit Employee</h4>
        <form name="form">
            <div class="row">
                <div class="col-sm-8">
                    <label for="title">Post Title: </label>
                    <input type="text" name="title" ng-model="post.title" class="form-control" size="40" required/>
                </div>
                <div class="col-sm-4">
                    <label for="author">Author: </label>
                    <input type="text" name="author" ng-model="post.author" class="form-control" size="20" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="date">Date: </label>
                    <input type="date" name="date" ng-model="post.date" class="form-control" size="12" required/>
                </div>
                <div class="col-sm-4">
                    <label for="category">Category: </label>
                    <select name="category" ng-model="post.category" class="form-control" required>
                        <option>Casual</option>
                        <option>Code</option>
                        <option>Monday Morning's</option>
                        <option>Music</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="content">Post Content: </label>
                    <textarea name="content" ng-model="post.content" class="form-control" rows="3" size="255" required></textarea>
                </div>
            </div>

            <div ng-show="form.$dirty && form.$invalid" style="margin: 5px; padding: 4px; background: #FFCCCC; width: 99%">
                <span ng-show="form.title.$error.required">Title required.</span>
                <span ng-show="form.author.$error.required">Author required.</span>
                <span ng-show="form.date.$error.required">Date required.</span>
                <span ng-show="form.category.$error.required">Category required.</span>
                <span ng-show="form.content.$error.required">Content required.</span>
            </div>
        </form>

        <button type="button" ng-click="update()" class="btn btn-primary">Update</button>
        <button type="reset"  class="btn btn-primary">Reset</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>

    </div>
