<div class="container" ng-controller="viewPostController">

    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">{{ post.title }}</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading"><h3></h3>
            <span class="label label-primary pull-right">{{ post.category}}</span>
        </div>
        <div class="panel-body">
            <div class="row" ng-cloak>
                <div class="col-md-5">
                    <a href="post">
                        <img src="http://placehold.it/600x300" class="img-responsive">
                    </a>
                    <h4><span class="label label-default"></span></h4>
                </div>
                <div class="col-md-7">
                    <div class="panel-options">
                        <a href="#edit" class="btn btn-warning"> <i class="fa fa-pencil"></i> Edit</a>
                        <a href="#delete" class="btn btn-danger"> <i class="fa fa-trash-o"></i> Delete</a>
                    </div>
                    <h3 class="page-header">{{ post.title }}</h3>
                    <p>by <a href="#/">{{ post.author }}</a> || {{ post.date }}</p>
                    <p>{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>

</div>