<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Recent Stories</h4></div>
                <div class="panel-body" style="font-size: 12px;">
                    <ul data-ng-repeat="post in posts">
                        <li><a ng-href="#view/{{$index}}">{{ post.title }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="searchValue" placeholder="Search Complex Blog" /><br><br>
            <div class="col-sm-4 blog-posts" data-ng-repeat="post in posts | filter: searchValue">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a ng-href="#view/{{$index}}">{{ post.title }}</a></h3>
                    </div>
                    <a ng-href="#view/{{$index}}">
                        <img src="http://placehold.it/600x300" class="img-responsive">
                    </a>
                    <div class="panel-body">
                        <h4><span class="label label-primary">{{ post.category}}</span></h4>
                        <p><i class="fa fa-user"></i><a ng-href="#/"> {{ post.author }}</a></p>
                        <!--<p>{{ post.content }}</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->
